Source: libplack-middleware-cache-perl
Section: perl
Priority: optional
Maintainer: Piotr Roszatycki <dexter@debian.org>
Build-Depends: debhelper (>= 9.20120312)
Build-Depends-Indep: perl
Standards-Version: 3.9.5
Homepage: https://metacpan.org/release/Plack-Middleware-Cache

Package: libplack-middleware-cache-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Use Cached Responses of Certain URIs
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
